<ion-header>
  <ion-item>
    <ion-label style="font-size: medium;">Choose Location:</ion-label>
    <ion-select class="location-select" (ionChange)="SpotChanged()" [(ngModel)]="spot">
      <ion-option *ngFor="let spot of spots" [value]="spot">{{spot.name}}</ion-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content padding class="bg-image">
  <!--Current Weather-->
  <ion-card style="opacity: 0.7;" *ngIf="currentContent">
    <ion-card-header>
      <h2 class="location-header">{{currentContent.location.name +', ' + currentContent.location.region}}</h2>
    </ion-card-header>
    <ion-card-content>
      <hr style="background-color: white;">
      <h2 class="temp-header">
        {{currentContent.current.temp_c}}°</h2>
      <img class="large-weather-icon"
           src={{currentContent.current.condition.icon}}>
      <h2 class="info-header">
        {{currentContent.current.condition.text}}
      </h2>
      <h2 class="info-header">
        <ion-icon name="speedometer"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;{{(currentContent.current.wind_mph * 0.44704).toFixed(0) + ' m/s'}}
      </h2>
      <h2 class="info-header">
        <ion-icon name="compass"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;{{currentContent.current.wind_degree + '° '+ currentContent.current.wind_dir}}
      </h2>
    </ion-card-content>
  </ion-card>

  <!--forecast date-->
  <ion-card style="opacity: 0.7;" *ngIf="currentContent">
    <ion-card-header>
      <div class="row date-row">
        <div class="col" *ngFor="let item of currentContent.forecast.forecastday.slice(1,4)">
          <h3>{{item.date | date:'dd/MM'}}</h3>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <hr style="background-color: white;">

      <!--weather icons-->
      <div class="row icon-row">
        <div class="col" *ngFor="let item of currentContent.forecast.forecastday.slice(1,4)">
          <img class="small-weather-icon" src={{item.day.condition.icon}}>
        </div>
      </div>
      <hr style="background-color: white;">

      <!--highest temperature-->
      <div class="row temp-row">
        <div class="col" *ngFor="let item of currentContent.forecast.forecastday.slice(1,4)">
          <h4>{{item.day.maxtemp_c.toFixed(0) + ' °'}}</h4>
        </div>
      </div>

      <!--lowest temperature-->
      <div class="row temp-row">
        <div class="col" *ngFor="let item of currentContent.forecast.forecastday.slice(1,4)">
          <h4>{{item.day.mintemp_c.toFixed(0) + ' °'}}</h4>
        </div>
      </div>
      <hr style="background-color: white;">

      <!--max wind-->
      <div class="row wind-row">
        <div class="col" *ngFor="let item of currentContent.forecast.forecastday.slice(1,4)">
          <h4>&nbsp;{{(item.day.maxwind_mph * 0.44704).toFixed(0) + ' m/s'}}</h4>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
