page-home {

  .info-header {
    color: white;
    line-height: 2;
  }

  .date-row h3 {
    text-align: center;
    color: white;
    font-size: 16px;
  }

  .icon-row {
    text-align: center;
    color: white;
  }

  .temp-row h4 {
    text-align: center;
    color: white;
  }

  .wind-row h4 {
    text-align: center;
    color: white;
  }

  .location-header {
    color: white;
    text-align: center;
    font-size: x-large;
  }

  .temp-header {
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 45px;
  }

  .large-weather-icon {
    width: 64px;
    padding-top: 15px;
    display: inline-block;
    float: right;
  }

  .small-weather-icon {
    width: 40px;
    margin: 0 auto;
  }

}
